* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    width: 100%;
    height: 100vh;

    background: #050816;

    color: white;

    font-family: "Georgia", serif;

    overflow: hidden;

}



.escena {

    display: none;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    text-align: center;

    padding: 30px;

}



.escena.activa {

    display: flex;

}



h1 {

    font-size: 45px;

    letter-spacing: 2px;

    animation: aparecer 3s ease;

}



p {

    font-size: 22px;

    line-height: 1.6;

    max-width: 700px;

    margin-top: 20px;

}



button {

    margin-top: 40px;

    padding: 15px 35px;

    border-radius: 30px;

    border: 1px solid white;

    background: transparent;

    color: white;

    font-size: 18px;

    cursor: pointer;

    transition: 0.4s;

}



button:hover {

    background: white;

    color: #050816;

}





/* ESTRELLAS */

.estrellas {

    position: absolute;

    width: 100%;

    height: 100%;

    background-image:
    radial-gradient(white 1px, transparent 1px);

    background-size: 50px 50px;

    opacity: 0.5;

    animation: moverEstrellas 20s linear infinite;

}





/* ANIMACIONES */


@keyframes aparecer {

    from {

        opacity: 0;

        transform: translateY(30px);

    }


    to {

        opacity: 1;

        transform: translateY(0);

    }

}



@keyframes moverEstrellas {

    from {

        transform: translateY(0);

    }


    to {

        transform: translateY(-200px);

    }

}
